@import "mixin", "variables";

#download {
  background-color: $light-red;
  height: 722px;
  display: flex;
  align-items: center;
  .container {
    .row {
      .col-lg-6 {

        .app-icon {
          display: flex;
          width: 246px;
          height: 246px;
          position: relative;
          z-index: 2;
          margin-left: 69px;
          margin-top: -25px;
        }

        .shadow-icon {
          position: absolute;
          top: 29px;
          left: 43px;
          z-index: 1;
          width: 64%;
          height: 125%;
          margin-left: 69px;
        }
      }
        .col-lg-6 {
          .download__text {
             margin-left: -338px;
             margin-top: -40px;
            .download__prg {
              font-size: 48px;
              font-weight: 600;
              color: #fff;

              word-spacing: 3px;
              letter-spacing: 1px;
              line-height: 1.2;
            }
            .download__ppl {
              color: #fff;
              font-size: 25px;
            }
          }
          .download-button {
            display: flex;
            margin-left: -215px;
            &__container {
              border: 3px solid #ffffff;
              border-radius: 4px;
              margin: 5px;
            a:hover {
              background-color: $black-color;
            }
              @include my-button;
            }
          }
        }
      }
    }
  }
/*
    ========================================
    media for download
    ========================================
*/
@media screen and (max-width: 1198px) {
  #download {
    .container {
      .row {
        .col-lg-6 {
          .app-icon {
            margin-left: 0;
            margin-top: 0;
          }
          .shadow-icon {
            top: 29px;
            left: -55px;
            z-index: 1;
            width: 81%;
            height: 116%;
          }
        }
      }
    }
    .col-lg-6 {
      .download-button {
        flex-wrap: wrap;
        margin-left: 0;
        margin-top: 0;
        .download-button {
          display: flex;
          margin-left: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 990px) {
  #download {
    .container {
      .row {
        .col-lg-6 {
          .shadow-icon {
            top: 8px;
            left: 185px;
            z-index: 1;
            width: 49%;
            height: 150%;
          }
        }
        .col-lg-6 {
          z-index: 2;
          margin-top: 43px;

          .download__text {
            margin-left: 0;

            .download__prg {
              text-align: center;
            }

            .download__ppl {
              text-align: center;
            }
          }

          .download-button {
            margin-left: 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 766px) {
  #download {
    height: auto;

    .container {
      .row {
        .col-lg-6 {
          .app-icon {
            margin-top: 25px;

          }

          .shadow-icon {
            left: 86px;
            z-index: 1;
            width: 70%;
            height: 118%;
            top: 42px;
          }
        }

        .col-lg-6 {
          z-index: 2;
          margin-top: 43px;
          margin-bottom: 38px;

          .download__text {
            margin-left: 0;

            .download__prg {
              text-align: center;
            }

            .download__ppl {
              text-align: center;
            }
          }

          .download-button {
            justify-content: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 760px) {
  #download {
    .container {
      .row {
        .col-lg-6 {
          .download-button {
            justify-content: center;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 680px) {
  #download {
    .container {
      .row {
        .col-lg-6 {
          .app-icon {
          }
          .shadow-icon {
            top: 52px;
            left: 113px;
            z-index: 1;
            width: 65%;
            height: 130%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 520px) {
  #download {
    .container {
      .row {
        .col-lg-6 {
         .shadow-icon {
           top: 27px;
           left: 80px;
           z-index: 1;
           width: 65%;
           height: 138%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 470px){
  #download {

    .container {
      .row {
        .col-lg-6 {
          .download__text {
            .download__prg {
              font-size: 30px;
            }
            .download__ppl {
              font-size: 20px;
            }
          }
          .download-button {
              &__container {
                padding: 0 9px;
              }
            }
          }
        }
      }
    }
  }

@media screen and (max-width: 430px) {
  #download {
    .container {
      .row {
        .col-lg-6 {

          .app-icon {
            width: 215px;
            height: 210px;
          }

          .shadow-icon {
            top: 24px;
            left: 60px;
            z-index: 1;
            width: 64%;
            height: 135%;
          }
          }
        }
        .col-lg-6 {
          .download__text {

            .download__prg {
            font-size: 35px;
            }
            .download__ppl {

              font-size: 25px;
            }
          }
        }
      }
    }
  }
@media screen and (max-width: 417px) {
  #download {
    .container {
      .row {
        .col-lg-6 {
          .shadow-icon {
            top: 33px;

          }
        }
      }
    }
  }
}
@media screen and (max-width: 360px) {
  #download {
    .container {
      .row {
        .col-lg-6 {
          .shadow-icon {
            top: 24px;
            left: 23px;
            z-index: 1;
            width: 66%;
            height: 147%;
          }
        }
      }
    }
  }
}