@import "mixin", "variables";

#download {
  background-color: $light-red;
  height: 722px;
  display: flex;
  align-items: center;
  .container {
    .row {
      .col-lg-6 {

        .app-icon {
          display: flex;
          width: 246px;
          height: 246px;
          position: relative;
          z-index: 2;
        }

        .shadow-icon {
          position: absolute;
          top: 77px;
          left: 34px;
          z-index: 1;
          width: 67%;
          height: 100%;
        }
      }
        .col-lg-6 {
          .download__text {
            margin-left: -134px;
            .download__prg {
              font-size: 48px;
              font-weight: 600;
              color: #fff;
            }
            .download__ppl {
              color: #fff;
              font-size: 25px;
            }
          }
          .download-button {
            display: flex;
            &__container {
              border: 3px solid #ffffff;
              border-radius: 4px;
              margin: 5px;
              @include my-button;
            }
          }
        }
      }
    }
  }
/*
    ========================================
    media for download
    ========================================
*/
@media screen and (max-width: 1198px) {
  #download {
    .container {
      .row {
        .col-lg-6 {
          .shadow-icon {
            top: 119px;
            left: 19px;
            z-index: 1;
            width: 81%;
            height: 74%;
          }
        }
      }
    }
    .col-lg-6 {
      .download-button {
        flex-wrap: wrap;
      }
    }
  }
}
@media screen and (max-width: 990px) {
  #download {
    .container {
      .row {
        .col-lg-6 {
          .shadow-icon {
            top: 40px;
            left: 270px;
            z-index: 1;
            width: 54%;
            height: 131%;
          }
        }
        .col-lg-6 {
          z-index: 2;
          margin-top: 43px;
          .download__text {
            margin-left: 0;
            .download__prg {
              text-align: center;
            }
            .download__ppl {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 766px) {
  #download {
    height: auto;

    .container {
      .row {
        .col-lg-6 {
          .app-icon {
            margin-top: 25px;

          }

          .shadow-icon {
            top: 71px;
            left: 151px;
            z-index: 1;
            width: 84%;
            height: 107%;
          }
        }

        .col-lg-6 {
          z-index: 2;
          margin-top: 43px;
          margin-bottom: 38px;

          .download__text {
            margin-left: 0;

            .download__prg {
              text-align: center;
            }

            .download__ppl {
              text-align: center;
            }
          }

          .download-button {
            justify-content: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 680px) {
  #download {
    .container {
      .row {
        .col-lg-6 {
          .app-icon {
          }

          .shadow-icon {
            top: 27px;
            left: 151px;
            z-index: 1;
            width: 65%;
            height: 107%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 760px) {
  #download {
    .container {
      .row {
        .col-lg-6 {
          .download-button {
            justify-content: center;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 470px){
  #download {

    .container {
      .row {
        .col-lg-6 {
          .download__text {
            .download__prg {
              font-size: 30px;
            }
            .download__ppl {
              font-size: 20px;
            }
          }
          .download-button {
              &__container {
                padding: 0 9px;
              }
            }
          }
        }
      }
    }
  }

@media screen and (max-width: 430px) {
  #download {
    .container {
      .row {
        .col-lg-6 {

          .app-icon {
            width: 215px;
            height: 210px;
          }

          .shadow-icon {
            top: 51px;
            left: 108px;
            z-index: 1;
            width: 50%;
            height: 107%;
          }
          }
        }
        .col-lg-6 {
          .download__text {

            .download__prg {
            font-size: 35px;
            }
            .download__ppl {

              font-size: 25px;
            }
          }
        }
      }
    }
  }
