@import "mixin", "variables";
.footer {
  background-color: #f4f4f4;
  height: 222px;
  display: flex;
  align-items: center;
  .container {
    .row {
      .col-md-6 {

        p {
        }
      }

      .col-md-6 {
        p {
        }

        .form-inline {
          input {
            width: 314px;
            height: 49px;
            background-color: #f4f4f4;
            border-color: #757575;
          }
          .btn-my-color {
            cursor: pointer;
            border: none;
            background-color: #F06463;
            color: #fff;
            height: 49px;
            width: 100px;
            border-radius: 4px;

          }
        }
      }
      .block {
        padding-left: 114px;
        padding-bottom: 7px;
      }
    }
  }
  p {
    color: #757575;
  }
}
input.error,
textarea.error {
  box-shadow: inset 0 0 10px 0 $red-color;
  border-color: $red-color;
}
input.error::placeholder,
textarea.error::placeholder {
  color: $red-color;
}
/*
    ========================================
    media for footer
    ========================================
*/
@media screen and (max-width: 1900px) {
  .footer {
    .container {
      .row {
        .block {
          padding-left: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .footer {
    .container {
      .row {
        .col-md-6 {
          justify-content: center;
        }
        .col-md-6 {
          p {
            text-align: center;
          }
        }
        .form-inline {
          justify-content: space-evenly;
        }
      }
    }
  }
}
@media screen and (max-width: 452px) {
  .footer {
    .container {
      .row {
        .form-inline {
          margin-left: 24px;
        }
      }
    }
  }
}