@import "mixin", "variables";

#features  {
  background: #313131;
  .container-fluid {
    .row {
      .col {
        .features__title {
          h5 {
            color: #fff;
            font-size: 52px;
          }
          p {
            width: 385px;
          }
        }
        .features__slider {
          background-color: #fff;
          width: 469px;
          border-radius: 4px;
          .slick-dots {
            .slick-active button {
              background-color: #fff;
            }
          }
          ul {
            display: flex;
            background-color: $light-red;
            width: 469px;
            height: 43px;
            align-items: center;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            margin: 0;
          }
          .slider-items {
            display: flex;
            flex-direction: row;
            height: 189px;
            align-items: center;

            div {
              img {
                margin: 20px;
              }
            }
            div {
              h6 {
                color: $light-red;
                font-size: 19px;
              }
              p {
                color: #999999;
                width: 270px;
              }
            }
          }
        }
      }
    }
  }
  p {
    color: #a7a7a7;
  }
}
$prefix: "slick-slide-control";

@for $i from 20 through 27 { /*поміняй потім від 20 до 27, бо ти в index один блок заархівувала*/
  button##{$prefix}#{$i} {
    border-radius: 50%;
    border: 1px solid #fff;
    height: 14px;
    width: 15px;
    background-color: transparent;
    margin: 2px;
  }
}

@media screen and (max-width: 1198px) {
  .img-nexus {
    height: 682px;
  }
  #features {
    .container-fluid{
      .row {
        .col {
          .features__slider {
            width: 360px;
            ul {
              width: 360px;
            }
            .slider-items {
              div {
                p {
                  width: 234px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1068px) {
  .img-nexus {
    height: 582px;
  }
}
@media screen and (min-width: 789px) {
  #features {
    .container-fluid{
      .row {
        .col:nth-child(1) {
          justify-content: flex-end !important;
        }
      }
    }
  }
}
@media screen and (max-width: 913px) {
  .img-nexus {
    height: 537px;
  }
  #features {
    .container-fluid {
      .row {
        .col {
          .features__title {
            p {
              width: 306px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 855px) {
  .img-nexus {
    height: 479px;
  }
}
@media screen and (max-width: 787px) {
  #features {
    .container-fluid {
      padding-top: 30px;

      .row {
        .col {
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
@media screen and (max-width: 415px) {

  #features {
    .container-fluid{
      .row {
        .col {
          .features__title {
            h5 {
              text-align: center;
              font-size: 32px;
            }
            p {
              text-align: center;
              width: 205px;
              margin: auto;
              padding-bottom: 34px;
            }
          }
          .features__slider {
            width: 290px;
            ul {
              width: 290px;
            }
            .slider-items {
              height: 283px;
              div {
                h6 {
                  text-align: center;
                  font-size: 18px;
                  margin-right: 34px;
                }
                p {
                  width: 135px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
  .img-nexus {
    height: 414px;
  }
}
